@import url('https://fonts.googleapis.com/css?family=Catamaran|Lato|Roboto&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Catamaran', sans-serif; */



:root {
    --light-gray: #2b3032a1;
    --primary-color: #45ccb8;
    --border: #2b303218;
    --text-color: #ff686b;
    --roboto: "Roboto", sans-serif;
}

.primary-color{
    color:var(--primary-color);
}

.bg-primary-color{
    background-color: var(--primary-color) !important;
}

.text-color{
    color: var(--text-color);
}

.lightblue{
    color: lightblue;
}


html, body{
    height: 100vh;
    width: 100vw;
    background-image: url(../img/light.jpg);
    background-position: 10% 90%;
    background-position: cover;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;

}

.content{
    margin-top: 17vw;
    color: whitesmoke;
    margin-bottom: 35vw;
}

h1{
    font-size: 5vw !important;
}

p{
    font-size: 22px;
}

.parallax{
    height: 30vw;
    background-image: url(../img/stay4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    display: flex;
    align-items: center;
}

input[type="text"]{
    width: 25vw;
}

textarea{
    width: 50vw;
}

.parallax2{
    height: 40vw;
    background-image: url(../img/image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
}

.parallax2 h2{
    padding-bottom: 5vh;
    color: black;

}

.parallax2 p{
    color: black;

}

.cols3{
    position: relative;
    height: 300px;
}

.cols3 img{
    
}

.count1{
    margin-top: 8%;
}

.count3{
    position: relative;
    top: -12%;
}
.count4{
    position: relative;
    top: -8%;
}

.footer{
    background-image: url('../img/image5.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.rights{
    position: absolute;
    bottom: 0;
    color: white;
}